.imagebox {
    border: solid black;
    visibility: hidden;
}
.ip_workspace .ip_filterset{
    padding: 0px 20px

}
.ip_image_preview {
    max-height: 600px;
    border: solid 1px black;
    overflow: scroll;
}
.ip_btn {
    margin: 0px 3px;
}
.ip_workspace_menu {
    padding: 20px 20px 10px 20px;
}
.filterlist {
    margin-top: 10px;
    margin-bottom: 10px;
}
.filtercontrolpanel {
    min-height: 30px;
    border: 1px solid #adadad;
    border-radius: 4px;
    margin-top:1px;
    padding-left:10px;
    padding-bottom: 10px;
}
a.filterclose {
    float:right;
    z-index: 100;
    font-size: 10px;
    margin-right: 4px;
    cursor: hand;
}